@mixin menu()
{
	background:transparent;
	border:2px solid transparent;
	outline:none;
	font-size:1rem;
	padding-top:2px;padding-bottom:3px;padding-left:10px;padding-right:10px;
	margin-left:5px;margin-right:5px;
	border-radius:4px;
	color:rgba(255,255,255,0.8);
	text-decoration:none;
	
}
@mixin menuhover
{	
	animation : animate 2s linear 1;
	animation-fill-mode:both;
	color:#fff;
	@keyframes animate
	{
		0%
		{
			border-bottom:2px solid rgba(255,255,255,1);
		}
		10%
		{
			border-bottom:2px solid rgba(255,255,255,1);
		}
		20%
		{
			border-bottom:2px solid rgba(255,255,255,1);
		}
		30%
		{
			border-left:2px solid rgba(255,255,255,1);
			
		}
		40%
		{
			border-left:2px solid rgba(255,255,255,1);
			 
		}
		50%
		{
			border-top:2px solid rgba(255,255,255,1);
			 
		}
		60%
		{
			border-top:2px solid rgba(255,255,255,1);
			 
		}
		70%
		{
			border-right:2px solid rgba(255,255,255,1);
		}
		80%
		{
			border-right:2px solid rgba(255,255,255,1);
		}
		90%
		{
			border:2px solid transparent;
		}
		100%
		{
			border:2px solid rgba(255,255,255,1);
			background-color:rgba(255,255,255,0.2);
		}
		
	}
}

.sitenavigation_container
{
	position:sticky;
	z-index:4;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	display:flex;
	justify-content:center;
	background-color:rgba(100,100,200,1);
	padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;
	 
	.useridcontainer
	{
		 
		width:auto;
		height:auto;
		display:flex;
		justify-content:center;
		align-items:center;
		border:2px solid rgba(255,255,255,0.5);
		border-radius:10px;
		padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;
		background-color:#fff;
		img
		{
			width:40px;
			height:40px;
			border-radius:10px;
			 
			border:1px solid rgba(255,255,255,0.5);
		}
		h3
		{
			font-size:1rem;
			color:rgba(255,255,255,0.5);
			padding:0px 5px 0px 5px;
			color:rgba(100,100,200,1);
			width:150px;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	}
		
	.sitenavigation
	{
	 
		width:100%;
		height:auto;
		
		display:flex;
		flex-wrap:wrap;
		justify-content:flex-end;
		align-items:center;
		
		.link
		{
			@include menu();
			&:hover
			{	
				@include menuhover;
			}
		}
		.activeLink
		{
			@include menu();
			color:rgba(255,255,255,1);
			
			@include menuhover;
		}
			 
	}
}

@media only screen and (max-width:800px)
{
		
	 
	.sitenavigation_container
	{
		.useridcontainer
		{
			 
			img
			{
				width:35px;
				height:35px;
				border-radius:10px;
				 
				border:1px solid rgba(255,255,255,0.5);
			}
			h3
			{
				font-size:0.9rem;
				color:rgba(255,255,255,0.5);
				padding:0px 5px 0px 5px;
				color:rgba(100,100,200,1);
				width:80px;
				overflow:hidden;
				text-overflow:ellipsis;
			}
		}
		.sitenavigation
		{
			.link
			{
				font-size:0.9rem;
				padding-left:6px;padding-right:5px;
				margin-left:2px;margin-right:2px;
				 
			}
			.activeLink
			{
				font-size:0.8rem;
				padding-left:6px;padding-right:5px;
				margin-left:2px;margin-right:2px;
			}
		}	 
	}
}
@media only screen and (max-width:500px)
{
	.sitenavigation_container
	{
		.useridcontainer
		{
			display:none;
		}
	}
}
@media only screen and (max-width:350px)
{
		
	 .sitenavigation_container
	{
		.sitenavigation
		{
		
			.link
			{
				font-size:0.7rem;
				padding-left:3px;padding-right:3px;
				margin-left:2px;margin-right:2px;
				 
			}
			.activeLink
			{
				font-size:0.7rem;
				padding-left:3px;padding-right:3px;
				margin-left:2px;margin-right:2px;
			}
		}
	}
	 
}