.messageboxcontainer
{
	width:100%;
	height:100vh;
	overflow:auto;
	background-color:rgba(0,0,0,0.2);
	backdrop-filter:blur(10px);
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	display:flex;
	justify-content:center;
	align-items:center;
	.messagebox
	{
		width:25rem;
		height:auto;
		padding:10px 10px 10px 10px;
		background-color:#fff;
		box-shadow:0px 15px 15px -12px rgba(0,0,0,1);
		
		h1
		{
			font-size:2rem;
			padding:10px 0px 10px 0px;
		}
		p
		{
			font-size:1rem;
			padding:10px 0px 40px 10px;
		}
		button
		{
			border:none;outline:none;
			padding:5px 20px 5px 20px ;
			background-color:rgba(255,100,1,1);
			color:#fff;
			float:right;
			margin-right:20px;margin-bottom:10px; 
			font-size:1rem;
			font-weight:700;
		}
		
	}
}

@media only screen and (max-height:700px)
{
	.logout_container
	{
		min-height:100vh;
		 max-height:auto;
		  
	}
}