.contactContainer
{
	display:flex;
	align-items:center;
	justify-content:space-around;
	flex-wrap:wrap;
	padding-top:40px;padding-botton:40px;padding-left:10px;padding-right:10px;
	
	.contact_card
	{
		width:auto;
		height:auto;
		background-color:transparent;
		padding-bottom:20px;padding-top:20px;
	}
}
