
.homeContainer
{
	width:100%;
	min-height:calc(100vh - 116px);
	padding-left:10px; padding-right:10px;
	background-color:rgba(100,100,200,1);
	display:flex;
	justify-content:center;
	align_items:center;
		
	.subHomeContainer1
	{
		width:100%;
		height:auto;
		display:flex;
		justify-content:center;
		align-items:flex-start;
		padding-top:40px; padding-bottom:40px;
			div
			{
				width:70%;
				height:auto;
				
				 h1
				{
					background-color:transparent;
					width:auto;
					color:rgba(255,255,255,1);
					display:inline-block;
					box-shadow:0px 15px 15px -13px rgba(255,255,255,1);
					font-size:2rem;
					letter-spacing:8px;
					 margin-top:20px; margin-bottom:40px;
				}
				p
				{
					width:100%;
					height:auto;
					padding-bottom:10px;padding-top:10px;
					color:rgba(255,255,255,0.8);
				}
			}
			
	}
	.subHomeContainer2
	{
		padding-top:40px; padding-bottom:40px;
		width:100%;
		height:auto;
		overflow:hidden;
		display:flex;
		justify-content:center;
		
		.home_card_container
		{
			width:30rem;
			height:auto;
			overflow:hidden;
			position:relative;
			
			.sub_home_card_container
			{
				width:100%;
				height:auto;
				display:flex;
				justify-content:center;
				padding-bottom:10px;padding-top:10px;
				position:absolute;
				left:100%;top:0px;
				
				 &:nth-child(1)
				 {
					animation:homeanimate1  24s  linear infinite;
					animation-delay:0s;
					
				 }
				 @keyframes homeanimate1
				{
					0%{}
					5%, 33%
					{
						//visibility:visible;
						left:0px;
					}
					35%
					{
						visibility:hidden;
						left:-100%;
					}
					100%
					{visibility:hidden;
					}
					
				}
				 &:nth-child(2)
				 {
					 animation:homeanimate2  24s  linear infinite;
					animation-delay:8s;
					
				 }
				 @keyframes homeanimate2
				{
					0%{}
					5%, 33%
					{
						//visibility:visible;
						left:0px;
					}
					35%
					{
						visibility:hidden;
						left:-100%;
					}
					100%
					{visibility:hidden;
					}
				}
				 &:nth-child(3)
				 {
					 animation:homeanimate3  24s  linear infinite;
					animation-delay:16s;
					
				 }
				@keyframes homeanimate3
				{
					0%{}
					5%, 33%
					{
						//visibility:visible;
						left:0px;
					}
					35%
					{
						visibility:hidden;
						left:-100%;
					}
					100%
					{visibility:hidden;
					}
				}
				
				
				
				
				
				
				 
			}
		}	

	}
	
}


@media only screen and (max-height:700px)
{
		
	.homeContainer
	{
		height:atuo;
	}
}
@media only screen and (max-width:800px)
{
		
	.homeContainer
	{
		heigth:auto;
		display:block;
		.subHomeContainer2
		{
			 
		
			.home_card_container
			{
				height:600px;
			}
		}
	}
}